{
  "env": {
    "node": true,
    "es6": true,
    "es2017": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-await-in-loop": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-continue": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "always",
      "asyncArrow": "always"
    }],
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/no-cycle": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/comma-dangle": "off"
  }
}